{% extends 'layout/base.html' %}

{% block title %}Change Password - OCRVault{% endblock title %}

{% block content %}
<div class="container main-container">
    <h1 class="mt-4">Change Password</h1>
    {% if request.user.is_changepass %}
    <p>You can change your password here.</p>
    {% else %}
    <p>Please change you password when logging in for the first time.</p>
    {% endif %}

    {% include 'components/messages.html' %}

    <div class="card card-dashboard" id="newUser">
        <div class="card-body">
            <form action="{% url 'change_password' %}" method="post" id="changePasswordForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 text-end">
                        <p class="error-one">Fields with * are required.</p>
                    </div>

                    <div class="col-lg-12 mb-3">
                        <label for="oldPassword">Old Password *</label>
                        {% if form.old_password.errors %}
                        <span class="error-one" id="errorLabelOne">
                            <i class="bi bi-exclamation-circle-fill"></i>
                            {% for error in form.old_password.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                        {% endif %}
                        <div class="password-groupp">
                            <input
                                class="form-control add-user folder-form-input {% if form.old_password.errors %}error{% endif %}"
                                type="password" id="oldPassword" placeholder="Old Password" name="old_password">
                            <i class="bi bi-eye-slash toggle-password" id="old"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="newPassword">New Password * (Password must be at least 8 characters long, and contain
                            at least one number and one letter.)</label>
                        {% if form.new_password1.errors %}
                        <span class="error-one" id="errorLabelTwo">
                            <i class="bi bi-exclamation-circle-fill"></i>
                            {% for error in form.new_password1.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                        {% endif %}
                        <div class="password-groupp">
                            <input
                                class="form-control add-user folder-form-input {% if form.new_password1.errors %}error{% endif %}"
                                type="password" id="newPassword" placeholder="New Password" name="new_password1">
                            <i class="bi bi-eye-slash toggle-password" id="new"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="confirmPassword">Confirm Password *</label>
                        {% if form.new_password2.errors %}
                        <span class="error-one" id="errorLabelThree">
                            <i class="bi bi-exclamation-circle-fill"></i>
                            {% for error in form.new_password2.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                        {% endif %}
                        <div class="password-groupp">
                            <input
                                class="form-control add-user folder-form-input {% if form.new_password2.errors %}error{% endif %}"
                                type="password" id="confirmPassword" placeholder="Confirm Password"
                                name="new_password2">
                            <i class="bi bi-eye-slash toggle-password" id="confirm"></i>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn submit-button">SAVE</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#old').click(function () {
            const passwordInput = $('#oldPassword');
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            passwordInput.attr('type', type);
            $(this).toggleClass('bi-eye bi-eye-slash');
        });

        $('#oldPassword').focus(function () {
            $(this).removeClass('error');
            $('#errorLabelOne').addClass('hide');
        });

        $('#new').click(function () {
            const passwordInput = $('#newPassword');
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            passwordInput.attr('type', type);
            $(this).toggleClass('bi-eye bi-eye-slash');
        });

        $('#newPassword').focus(function () {
            $(this).removeClass('error');
            $('#errorLabelTwo').addClass('hide');
        });

        $('#confirm').click(function () {
            const passwordInput = $('#confirmPassword');
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            passwordInput.attr('type', type);
            $(this).toggleClass('bi-eye bi-eye-slash');
        });

        $('#confirmPassword').focus(function () {
            $(this).removeClass('error');
            $('#errorLabelThree').addClass('hide');
        });

        $('#changePasswordForm').on('submit', function () {
            $('.submit-button').prop('disabled', true).text('PLEASE WAIT...');
        })
    });
</script>
{% endblock %}